<img src='11.jpg'>

In [20]:
#Recommender Systems-Tavsiye Sistemleri-Popularity Based
#Elimizde hiç veri yokken en popular ürenleri tavsiye ederiz

# Ödev-022-Makale Öneri Sistemi-Recommender Systems

In [54]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction import text
from sklearn.metrics.pairwise import cosine_similarity
df= pd.read_csv("https://raw.githubusercontent.com/amankharwal/Website-data/master/articles.csv", encoding='latin1')
df.head()

,Article,Title
0,Data analysis is the process of inspecting and...,Best Books to Learn Data Analysis
1,The performance of a machine learning algorith...,Assumptions of Machine Learning Algorithms
2,You must have seen the news divided into categ...,News Classification with Machine Learning
3,When there are only two classes in a classific...,Multiclass Classification Algorithms in Machin...
4,The Multinomial Naive Bayes is one of the vari...,Multinomial Naive Bayes in Machine Learning

In [55]:
df.head()

,Article,Title
0,Data analysis is the process of inspecting and...,Best Books to Learn Data Analysis
1,The performance of a machine learning algorith...,Assumptions of Machine Learning Algorithms
2,You must have seen the news divided into categ...,News Classification with Machine Learning
3,When there are only two classes in a classific...,Multiclass Classification Algorithms in Machin...
4,The Multinomial Naive Bayes is one of the vari...,Multinomial Naive Bayes in Machine Learning

In [56]:
articles = df["Article"].tolist()

In [57]:
data.isnull().sum()

Article    0
Title      0
dtype: int64

In [58]:
from sklearn.feature_extraction.text import TfidfVectorizer

tfidf = TfidfVectorizer(stop_words="english")

In [59]:
articles = tfidf.fit_transform(articles)

In [60]:
from sklearn.metrics.pairwise import cosine_similarity

articles = cosine_similarity(articles)

In [61]:
def recommend_articles(title, n=5):
    article_index = df[df["Title"] == title].index[0]
    article_similarities = articles[article_index]
    top_indices = article_similarities.argsort()[::-1][1:n+1]
    recommended_titles = [df["Title"].loc[i] for i in top_indices]
    return recommended_titles

In [62]:
user_title = "News Classification with Machine Learning"
recommended_titles = recommend_articles(user_title, 5)

print("Recommended:")
for title in recommended_titles:
    print("- " + title)

Recommended:
- News Classification with Machine Learning
- Multiclass Classification Algorithms in Machine Learning
- Apple Stock Price Prediction with Machine Learning
- Language Detection with Machine Learning
- Best Books to Learn Deep Learning

In [ ]:
# derste öğrendğimiz kodlar ile çözüme ulaşamadığım için internette bulduğum kodları kullnadım